.eventForm{
    height: auto;
    width: 500px;
    display: flex;
    grid-template-columns: auto auto;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    
}

.eventCard{
    /* width: 500px; */
    
}
.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  